*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.div{
    height: 100vh;
    width: 100%;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;



}
.container{
    width: 90%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #000001;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}
.form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}
.form-group input,
.form-group textarea{
    width: 50%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128,128,128, 0.199);
    margin-top: 5px;


}

textarea{
    resize: vertical;

}
button[ type="submit"]{
    width: 50%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    color: springgreen;
    text-align: right;
    cursor: pointer;
    margin-top: 10px;

    
}

button[ type="cancel"]{
    width: 50%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    color: rgb(255, 0, 64);
    float: right;
    cursor: pointer;
    margin-top: 10px;



}