
    

.ev1{
    float: left;
    background-color: salmon;
}
.raj1{
    float: right;
}



grid-container > div {
    background-color: rgba(38, 48, 136, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .grid-container {
    display: grid;
    height: 100px;

    width: 100%;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }